@model BIWebApplicationBLL.Models.CategoriesData

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="vertComponentContainer" style="padding-top:5px; padding-right: 50px; width: 180px;">
        @Html.DevExpress().Menu(
    settings =>
    {
        settings.Name = "mDataBindingToModel";
        settings.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
        settings.ShowPopOutImages = DefaultBoolean.True;
    }).Bind(Model).GetHtml()
    </div>
</div>