@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <script type="text/javascript">
    $(document).ready(function () {
        
      
    });
   
    </script>
    <div class="vertComponentContainer" style="padding-top:5px; padding-right: 50px; width: 180px;">
        @Html.DevExpress().Menu(
        settings =>
        {
            settings.Name = "mClientSideAPI";
            settings.AllowSelectItem = true;
            settings.EnableClientSideAPI = true;
            settings.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
            

            settings.Items.Add("Visa", "Visa").Selected = true;
            settings.Items.Add("MasterCard", "MasterCard");
            settings.Items.Add("Union", "Union");
            settings.Items.Add("American Express", "American Express");
            settings.Items.Add("Maestro", "Maestro");

            
        }).GetHtml()
    </div>
    
</div>